


    <h4> Make your own question!</h4>
      
    <%= form_tag questions_path do %>
    <%= text_area_tag :body, nil, :maxlength => "100" %>
    <p><%= submit_tag "Save", :class => "btn" %></p>        


    <p> When you make your own question you can answer it immediately. </p>
    <p>Then it will be added to your rotation of questions.</p>
     
    <% end %>

