

<p><%= "To delete your partnership with #{@pair.partner(current_user.id).first_name} #{@pair.partner(current_user.id).last_name} click the link below. There is no undo!" %></p>


<%= link_to "I understand, delete anyway", pair_path(@pair), :method => "delete"%> 
