

<h4><%= "Your partner is #{@pair.partner(current_user.id).first_name} #{@pair.partner(current_user.id).last_name}!" %> </h4>

<%= link_to "Delete partnership", pair_path(@pair), :method => "delete"%> 
  <p>Are you sure? You cannot undo this :( </p>