<script type="text/javascript">
    mixpanel.track("Home Page Loaded")
</script>


  <% @rounds.each do |r| %>
       
    <div class="well">
      <span class ="muted"><%= r.round_date.to_date.to_s(:long) %></span>
      <%= r.question.body %>
       
       <%  if r.answers.where(:user_id => current_user.id).present? %>
          <%= link_to "View Round", round_path(r) %>
       <% else %>
          <%= link_to "Answer Question", round_path(r)  %>
       <% end %>
       
     </div>
  <% end %>