
      
    <div class ="roboto">
    
      <h3>history</h3>

       
       <% @answers.each do |a| %>
           
           <div class="history">
            
           <p class="lead"><h4><%= a.created_at.to_date.to_s(:long)%></h4></p>
           <p> Q: <%= a.question.body %></p>
           <p> A: <%= a.body %> </p>

        <% end %>
        </div>
      </div>
    </div>
