
      <h3>question history</h3>

       
       <% @answers.each do |a| %>
           
           <div class="jumbotron">
           <p class="lead"><h4><%= a.created_at.to_date.to_s(:long)%></h4></p>
           <p class="lead"> Q: <%= a.question.body %></p>
           <p class="lead"> A: <%= a.body %> </p>

        <% end %>
        
      </div>
