
      

       <% @answers.each do |a| %>
           
        <div class="well">
           <p class="roboto date"><%= a.created_at.to_date.to_s(:long)%></p>
           <h4><%= a.question.body %></h4>
           <p><%= a.body %> </p>
           <p class="tiny"><i class="icon-edit"></i> <%= link_to " edit", edit_answer_path(a)%></p>
         </div>
        <% end %>
          
        </div>
