
      

       <% @answers.each do |a| %>
           
        <div class="well">
           <p class="roboto date tiny muted"><%= a.created_at.to_date.to_s(:long)%></p>
           <h5 class = "roboto"><%= a.question.body %></h5>
           <%= a.body %>
           <span class="edit pull-right"><%= link_to " edit", edit_answer_path(a)%></span>
         
         </div>
        <% end %>
          
        </div>
