<body>
<script type="text/javascript">
    mixpanel.track("About Page Loaded")
</script>
</body>


<div id = "image"><%= image_tag("/katie_christi.png", :width => "300")%></div>


<p> The Question Project started with me and a friend making a pact to email each other a question every day. As we approached our 30s, we both wanted to be more reflective in our lives but found it challenging to make time for it.</p>
  
<p>We discovered most of the fun in answering questions was doing it together. We were learning more about ourselves, but also about each other and we looked forward to our simple daily interactions.</p>

<p>Today, The Question Project works by signing up with a friend. You'll both get emailed a question every day and you both answer the same question. That's pretty much it. </p>
  
<p>Right now the questions are general self-improvement topics. Soon I'll be adding a lot more questions and allowing people customize the topics they want. If you want to help by submitting questions, email 'em over!

<p> I hope you enjoy it. Shoot me an email and let me know what you think!</p>
    
<p><i class="icon-heart"> </i> Katie</p>
<p>katiesmillie [at] gmail [dot] com</p>






