<body>
<script type="text/javascript">
    mixpanel.track("About Page Loaded")
</script>
</body>


<p>I started the Question Project as a way to be more reflective by answering a simple question each day. </p>
    
<p>At first it was just me and my former college roommate making a pact to email each other a question every day. As we approached our 30s, we both wanted to be more introspective but found it challenging to make time for it.
  
<p>We soon discovered that most of the fun in answering questions was doing it with each other. We were learning more about ourselves, but also about each other and we looked forward to our simple daily interactions.</p>

<p>Today, the Question Project works by signing up with a friend. You'll both get emailed a question every day and you both answer the same question. That's pretty much it. </p>
  
<p>Right now the questions are general self-improvement topics, but you can also write a custom question. I'm always adding more questions and plan to have themes you can choose based on your interests.

<p> I hope you enjoy it!</p>
    
<p>Katie</p>


