<script type="text/javascript">
    mixpanel.track("About Page Loaded")
</script>

<div class="row">
	<div class="span4">

<p id = "image"><%= image_tag("/candk.png", :width => "330")%></p>

<h5 align="center"> Katie and Christi, 2003 </h5>

</div>
	<div class="span8">


<p> The Question Project started when my friend, Christi, and I made a pact to email each other a question every day. As we approached our 30s, we both wanted to be more reflective in our lives but found it challenging to make time for it. We discovered most of the fun in answering questions was doing it together! </p>

<p>Today, you can use The Question Project alone or with a friend. Just visit once a day to answer a question. If you don't like the question you see, refresh for a new one or create your own. If you're answering with a friend, you will be able to see each others answers and leave comments. That's pretty much it. </p>
 

<p> I hope you enjoy it. Let me know what you think!</p>
    
<p><i class="icon-heart"> </i> Katie</p>
<p>katie@thequestionproject.com</p>



</div>


</div>






