<script type="text/javascript">
    mixpanel.track("New User Page Loaded")
</script>




<p>Thanks for joining The Question Project!  You can visit each day to answer a new question. </p>



<% if @partner %>
  <p><%= "Your partner is #{@partner.first_name} #{@partner.last_name}." %></p>
  <p>
  	<% if @partner.image.present? %>
	  	<p><%= image_tag @partner.image, :size => 60 %></p>
	<% else %>
  		<p><%= gravatar_for @partner, :size => 60 %></p>
	<% end %>
<% end %>

  <p><%=  link_to "Answer a question now!", root_path, :class => "btn" %></p>






