<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  
  <body>
      <p><%= @user.first_name %> <%= @user.last_name  %> accepted your invitation to The Question Project!</p>
      
        <p>Now that you have a partner, you can answer your first question:
        <br><%= @question %>
        <br><a href="<%= @url %>">Answer now</a>!
     
    
  </body>
</html>