<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  
  <body>
      <p><%= @user %> invited you to be their partner at The Question Project!</p>
      
      <p>The Question Project is the easiest way to learn more about yourself and improve your life by answering a fun and simple question once a day.</p>
          
      <p>Sign up at <a href="<%= @url %>">The Question Project</a>.</p>
    

  </body>
</html>