<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
      <p>Hi! Heres's your question for today's round:</p>
      
      <p><%= @question %></p>
        
       <p>Answer it at <%= @url, "The Question Project" %></p>
      
      
      <p>
  </body>
</html>