<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  
  <body>
      <p>Howdy!</p> 
      
      <p>Here's today's question: <strong><%= @question %></strong></p>
        
       <p>Answer it <a href="<%= @url %>"> here</a>.</p>
      
    
  </body>
</html>