<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  
  <body>
      <p>Howdy <%= @user %>! Here's your question for today:</p>
      <p><strong><%= @question %></strong></p>  
      <p>To answer, reply to this email without changing the subject line or click <a href="<%= @url %>">here</a>. I promise, it will feel good. </p>
      
    
  </body>
</html>