<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  
  <body>
      <p>Howdy!</p> 
      
      <p>Here's today's question: <strong><%= @question %></strong></p>
        
       <p>Now go get your <a href="<%= @url %>">answer on</a>. I promise, it will feel good. </p>
      
    
  </body>
</html>