<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div class ="roboto">
      <p>Don't forget to answer a question today!</p><br />
      <p><%= link_to "The Question Project", root_path %></p>
    </div>
  </body>
</html>