<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  
  <body>
      <p>Howdy! Heres's today's question:</p>
      
      <p><strong><%= @question %></strong></p>
        
       <p>Answer it at <%= @url %></p>
      
    
  </body>
</html>