<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  
  <body>
      <p>Hi! <%= @partner.first_name %> answered today's Question</p>
      
      <p><%= @question %></p>
      
      <p><%= "#{@partner.first_name} said: #{@partner_answer}" %> </p>
    

  </body>
</html>