<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  
  <body>
      <p><%= @partner %> just answered today's question:s</p>
      
      <p><%= @question %></p>
      
      <p><%= "#{@display_answer}" %> </p>
    

  </body>
</html>