<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  
  <body>
      <p><%= @user %> just answered a question</p>
      
      <p><strong><%= @question %></p></strong>
      
      <p><%= "#{@display_answer}" %> </p>
      
      <p> Leave a comment <a href="<%= @url %>"> here</a>.</p>
    

  </body>
</html>