<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  
  <body>
      <p><%= @user %> just answered: <strong><%= @question %></p></strong>.
      
      <p>"<%= "#{@display_answer}" %>" </p>
      
      <p>I know you wanna <a href="<%= @url %>">say something</a>.</p>
    

  </body>
</html>