// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.answerbox {
  margin: 10px 0 10px 0;
  width: 400px;
  height: 100px;
}


@media only screen and (min-width: 480px) and (max-width: 767px) {
.answerbox {
    width: 300px;
    height: 150px;
  }
  }



.show-well {
  float: left;
  display: inline;
  vertical-align: baseline;
  width: 930px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  background: #f8f8f8;
  border-top: 5px solid #9d426b;
  min-height: 20px;
  padding: 19px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}




.stick {
  bottom: 0;
  width: 100%;
}
