// Place all the styles related to the invites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.invite-well {
  float: left;
  diplay: inline;
  width: 800px;
  margin-bottom: 20px;
  vertical-align: baseline;
  padding: 12px;
  border: 1px solid #ebeae0;
  border-bottom: 4px solid #25D9B8;
  border-radius: 5px;
}
