// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h4 {
  font-weight: lighter;
}

textarea {
  width: 600px;
}


div.align_input {
  float:left;
  clear: left;
  margin: 0px 10px 0px 0px;
}

label {
  vertical-align: baseline;
  line-height: 2em;
  font-weight: lighter;
}
