// Place all the styles related to the rounds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.commentbox {
  margin: 10px 0 10px 0;
  width: 600px;
  height: 50px;
}

.username {
  text-transform: uppercase;
  font-size: .8em;
}

.edit {
  font-size: .8em;
  padding: 0px 10px 0px 10px;  
}

.tiny {
  font-size: .8em;
}

.comments {
  width: 600px;
}

p {
  font-weight: lighter;  
}

h3 {
  font-weight: lighter;  
}

.well {
  font-weight: lighter;
  
}

.pic {
  float:left;
  margin: 0px 10px 0px 0px;
}
