// Place all the styles related to the rounds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.commentbox {
  margin: 10px 10px 10px 0px;
  width: 400px;
  height: 30px;
}

.edit {
  font-size: .8em;
  padding: 0px 10px 0px 10px;  
}

.tiny {
  font-size: .8em;
}

.comments {
  width: 600px;
  text-align: center;
}

.pic {
  float:left;
  margin: 0px 10px 0px 0px;
}

.index-well {
  float: left;
  diplay: inline;
  height: 130px;
  width: 160px;
  margin-right: 16px;
  margin-bottom: 20px;
  vertical-align: baseline;
  padding: 12px;
  border: 1px solid #ebeae0;
  border-radius: 7px;
}

.jan {
  border-bottom: 6px solid #F5B46E;

}
.feb {
  border-bottom: 6px solid #81EBA6;

}
.mar {
  border-bottom: 6px solid #EB81A4;

}
.apr {
  border-bottom: 6px solid #6EADF5;

}
.may {
  border-bottom: 6px solid #F5E56E;

}.jun {
  border-bottom: 6px solid #25D9B8;

}
.jul {
  border-bottom: 6px solid #BF6EF5;

}
.top {
    height: 110px;
}

.bottom {
  text-align: right;
}

.spacing40 {
  width: 860px;
  height: 40px;
  background: #ffffff;
}
.spacing20 {
  width: 300px;
  height: 20px;
  background: #ffffff;
}

.bottom-label {
  font-size: 12px;
  font-spacing: .2em;
  }

 .month-label {
  font-size: 16px;
 } 

