// Place all the styles related to the rounds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.commentbox {
  margin: 10px 10px 10px 0px;
  width: 400px;
  height: 30px;
}

.edit {
  font-size: .8em;
  padding: 0px 10px 0px 10px;  
}

.tiny {
  font-size: .8em;
}

.comments {
  width: 600px;
  text-align: center;
}

.pic {
  float:left;
  margin: 0px 10px 0px 0px;
}

.index-well {
  float: left;
  diplay: inline;
  height: 140px;
  width: 180px;
  margin-right: 16px;
  margin-bottom: 20px;
  vertical-align: baseline;
  padding: 12px;
  border: 1px solid #ebeae0;
  border-bottom: 4px solid #25D9B8;
  border-radius: 5px;
  margin: 8px 10px;
}




