// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-invite {
  background: #ffffff;
  border: 1px solid #ebeae0;
  border-bottom: 4px solid #ebeae0;
  border-radius: 5px;
  margin: 8px 10px;
  font-size: 16px;
	
}

.btn-invite:hover {
	border-bottom: 4px solid #25D9B8;
	background: #ffffff;
	text-decoration: none;
}


.cropped80 {
    width: 80px;  
    height: 80px; 
    background-position: center center;
    overflow: hidden;
    float:left;
    margin: 0px 10px 0px 0px;
}


.cropped60 {
    width: 60px;  
    height: 60px; 
    overflow: hidden;
    background-position: center center;
    float:left;
    margin: 0px 10px 0px 0px;
}