<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  
  <body>
      <p><%= @user %> just left a comment for you:</p>
      
      <p>"<%= @comment %>"</p>
      
      <p>Want to <a href="<%= @url %>">holla back at <%= @user %></a>?</p>
    

  </body>
</html>