<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  
  <body>
      <p><%= @user %> just left a comment for you:</p>
      
      <p>"<%= @comment %>"</p>
      
      <p><a href="<%= @url %>">Holla back</a> young'n!</p>
    

  </body>
</html>