
  
  <body>
      <p><%= @user %> just answered: <strong><%= @question %></p></strong>
      
      <p><%= "#{@answer}" %></p>
      
      <p> <a href="<%= @url %>"> Check it out</a>!</p>
    

  </body>
</html>