
  <body>
      <p><%= @user %> just answered: <strong><%= @question %></p></strong>
      
      <p>You also have to answer the question before you can see <%= @user %>'s answer.</p>
      
      <p><a href="<%= @url %>">Ok, let's go</a>!</p>
    

  </body>
</html>